services:
  frontend:
    container_name: truspace-frontend
    # build or pull image determined by env variable BUILD_OR_PULL_IMAGES or --dev flag in start.sh
    restart: on-failure
    environment:
      NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    ports:
      - ${FRONTEND_PORT}:${FRONTEND_PORT}