services:
  ##################################################################################
  ##                        Open WebIU Ollama                                     ##
  ##################################################################################
  webui:
    image: ghcr.io/open-webui/open-webui:${VERSION_WEBUI:-ollama}
    # last tested and working on 2025-11-27
    # ghcr.io/open-webui/open-webui@sha256:d3522d4f5c36de75266dfb1cda6b1ece565d5b074b3287f7de36b99328444e7f
    ports:
      - ${OPEN_WEBUI_PORT}:8080
    environment:
      ENV: dev # to see informative logs in container
      WEBUI_SECRET_KEY: ${WEBUI_SECRET_KEY}
      ADMIN_USER_EMAIL: ${ADMIN_USER_EMAIL}
      ENABLE_WEBSOCKET_SUPPORT: false
      ADMIN_USER_PASSWORD: ${ADMIN_USER_PASSWORD}
      SPACE_ID: "true" # truthy value allows setting of admin credentials ^^^
      OLLAMA_BASE_URL: http://localhost:11434 # hard-coded, because ollama is bundled in :ollama image
      CORS_ALLOW_ORIGIN: ${OI_CORS_ALLOW_ORIGIN}
      GLOBAL_LOG_LEVEL: DEBUG
    volumes:
      - ./volumes/open-webui:/app/backend/data
      - ./volumes/ollama:/root/.ollama/models
