server {
    server_name truspace.dev;
    location / {
        proxy_pass http://localhost:3000;
    }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/truspace.dev/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/truspace.dev/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

# Optional in case you want to expose WebUI
server {
    server_name oi.truspace.dev;
    location / {
        proxy_pass http://localhost:3333;
    }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/truspace.dev/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/truspace.dev/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
    server_name api.truspace.dev;
    location / {
        proxy_pass http://localhost:8000;
    }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/truspace.dev/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/truspace.dev/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}
server {
    if ($host = truspace.dev) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    listen 80;
    server_name truspace.dev;
    return 404; # managed by Certbot
}

server {
    if ($host = oi.truspace.dev) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    listen 80;
    server_name oi.truspace.dev;
    return 404; # managed by Certbot
}

server {
    if ($host = api.truspace.dev) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    listen 80;
    server_name api.truspace.dev;
    return 404; # managed by Certbot
}