BASE_URL=http://localhost:3000
API_URL=http://localhost:4000
USERNAME=admin@example.com
PASSWORD=Test123456789*
PLAYWRIGHT_WORKSPACE_PREFIX=Playwright Test Workspace
PLAYWRIGHT_UPLOAD_FILE=./cypress/files/Koalas.docx
