# CI to mirror our GitHub repository to OpenCode GitLab
# Instructions on the mirroring here: https://guide.opencode.de/projekte/spiegeln/#so-funktioniert-die-pull-spiegelung
# The exact component can be found here: https://gitlab.opencode.de/pull-mirroring/component

include:
  - component: $CI_SERVER_FQDN/pull-mirroring/component/pull-mirroring@1.0.1
    inputs:
        target_url: https://github.com/openkfw/TruSpace.git
        http_protocol: https
        access_token_name: $GITLAB_PAT_NAME
        access_token: $GITLAB_PAT
        stage: mirroring
        remote_name: origin
        git_push_opt: --force

stages:
  - build
  - mirroring